.form-control {
    padding: 0;
}
.operator {
    background-color: #5CB85C;
}
.klient {
    background-color: #5BC0DE;
}
.pracownik {
    background-color: #D9534F;
}
.help-block {
    margin-bottom: 0;
}
.form-group {
    margin-bottom: 10px;
}